<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>City of Cape Town Covid-19 General Management Dashboard</title>

    <link rel="stylesheet" href="assets/css/bootstrap.min.css">
    <link rel="stylesheet" href="assets/css/ct-covid-dash.css">
    <script src="assets/js/lazysizes.min.js" async=""></script>
</head>

<body class="bg-dark">

<video id="backgroundVideo" autoplay="autoplay" muted="muted" loop="loop">
    <source id="backgroundVideoSrc" src="" type="video/mp4">
</video>

<div>
    <nav class="navbar navbar-expand-lg navbar-light bg-light navbar-fixed-top" id="navbar" style="height: 8vh">
        <a class="navbar-brand h-100" href="ct-covid-dash-city.html">
            <img src="./assets/imgs/rect_city_logo.png" alt="" class="h-100">
        </a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"><span
                class="navbar-toggler-icon"></span></button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active"><a class="nav-link" href="ct-covid-dash-general.html">City</a></li>
                <li class="nav-item active dropdown">
                    <a class="nav-link dropdown-toggle" data-toggle="dropdown" href="#" role="button"
                       aria-haspopup="true" aria-expanded="false">Directorate</a>
                    <div class="dropdown-menu">
                        <a class="dropdown-item" href="#opening">Covid-19 Information</a>
                        <div role="separator" class="dropdown-divider"></div>
                        {% for directorate_title, directorate_filename_prefix, _, _ in directorate_tuples -%}
                        <a class="dropdown-item" href="#{{ directorate_filename_prefix }}">{{ directorate_title }} </a>
                        {% endfor -%}
                    </div>
                </li>
                <li class="nav-item"><a class="nav-link" href="ct-covid-dash-sa-general.html">South Africa</a></li>
                <li class="nav-item"><a class="nav-link" href="ct-covid-dash-int-general.html">International</a></li>
            </ul>
        </div>
    </nav>
</div>

<div class="container" id="overlay" data-spy="scroll" data-target="#navbar" data-offset="0">

    <div class="row row-cols-4 mt-1" style="height:6rem">
        <div class="col h-100 w-100" id="lastUpdatedStatCard"></div>
        <div class="col h-100 w-100" id="sATestedStatCard"></div>
        <div class="col h-100 w-100" id="casesStatCard"></div>
        <div class="col h-100 w-100" id="deathsStatCard"></div>
    </div>

    <div id="opening" class="container p-0">
        <div class="row mt-2 rows-cols-2" style="height: 72vh">
            <div class="col h-100 pr-1">
                <div class="container-fluid h-100">
                    <div class="row" style="height:49.5%" id="cityCasesPlot"></div>
                    <div class="row" style="height:1%"></div>
                    <div class="row" style="height:49.5%" id="provincialForecast"></div>
                </div>
            </div>

            <div class="col h-100 pl-1" id="mapCard"></div>
        </div>

        <div class="container p-0" id="casesOverTime">
            <div class="row mt-2 row-cols-2">
                <div class="col pr-1" style="height:30rem" id="cityNewCaseChart"></div>

                <div class="col pl-1" style="height:30rem" id="cityDemographicChart"></div>
            </div>
        </div>

    </div>

    {% for directorate_title, directorate_filename_prefix, sr_flag, hr_flag in directorate_tuples %}
    <!-- {{ directorate_title }} -->
    <div id="{{ directorate_filename_prefix }}" class="container mt-2 pt-2 border-top">
        <h2> {{ directorate_title}} </h2>
        {% set num_cols = 1 %}
        {% set num_cols = num_cols + (1 if sr_flag else 0) %}
        {% set num_cols = num_cols + (1 if hr_flag else 0) %}
        {% set col_width = 10 if num_cols == 2 else 5 %}
        <div class="row row-cols-{{ num_cols }}" style="height:30rem">
            <div class="col-2 pr-1 h-100 w-100" id="stats_{{ directorate_filename_prefix }}">
                <div class="row w-100" style="height:30%" id="staffWorking_{{ directorate_filename_prefix }}"></div>
                <div class="row w-100" style="height:5%"></div>
                <div class="row w-100" style="height:30%" id="staffAssessed_{{ directorate_filename_prefix }}"></div>
                <div class="row w-100" style="height:5%"></div>
                <div class="row w-100" style="height:30%" id="serviceInOut_{{ directorate_filename_prefix }}"></div>
            </div>
            {% if sr_flag -%}
            <div class="col-{{ col_width }} pl-1 {{ '' if hr_flag else 'pr-0'}} h-100"
                 id="serviceRequestTimeSeries_{{ directorate_filename_prefix }}"></div>
            {% endif -%}
            {% if hr_flag -%}
            <div class="col-{{ col_width }} pl-1 pr-0 h-100"
                 id="hRTimeSeries_{{ directorate_filename_prefix }}"></div>
            {% endif -%}
        </div>
        {% if sr_flag -%}
        <div class="row row-cols-1 mt-2 pt-2" style="height:30rem"
             id="serviceRequestMap_{{ directorate_filename_prefix }}"></div>
        {% endif -%}
    </div>
    {% endfor %}

    <div id="footerPlaceholder"></div>
</div>

<!-- bootstrap scripts -->
<script src="assets/js/jquery-3.4.1.min.js"></script>

<!-- custom code for dynamically updating data -->
<script src="assets/js/update_dash.js"></script>
<script>
    $(() => {
        // General
        // Stat Widgets
        var lastUpdateTextDiv = addStatCard("lastUpdatedStatCard", "assets/imgs/clock-regular.svg", "Last Updated");
        var sATestedTextDiv = addStatCard("sATestedStatCard", "assets/imgs/notes-medical-solid.svg", "Tests Conducted (SA)");
        var casesTextDiv = addStatCard("casesStatCard", "assets/imgs/ambulance-solid.svg", "Confirmed Cases");
        var deathsTextDiv = addStatCard("deathsStatCard", "assets/imgs/skull-solid.svg", "Deaths");

        setStatCardValue(lastUpdateTextDiv, 'widgets/private/latest_values.json', 'ct_latest_update');
        setStatCardValue(sATestedTextDiv, 'widgets/private/latest_values.json', 'rsa_latest_tested');
        setStatCardValue(casesTextDiv, 'widgets/private/latest_values.json', 'ct_latest_confirmed');
        setStatCardValue(deathsTextDiv, 'widgets/private/latest_values.json', 'ct_latest_deaths');

        addCard("cityCasesPlot", "widgets/private/ct_cumulative_daily_counts_bar_chart.html",
          'City Cases over Time <small><a class="text-white" href="#casesOverTime">(<u>more detail</u>)</a></small>');

        addCard("mapCard", "widgets/private/city_map_widget.html", "City Case Counts over Space");

        addCard("cityDemographicChart", "widgets/private/cct_demographic_case_fatality_plot.html",
            "City Confirmed Percentage by Age");
        addCard("provincialForecast", "widgets/private/wc_model_latest_disease_figures.html",
            "WC Health Dept. Disease Forecast <br/><small>as of 2020-04-29</small>");

        addCard("cityNewCaseChart", "widgets/private/ct_daily_counts_bar_chart.html", "New City Cases over Time");

        addFooter("footerPlaceholder");

        // Directorate Specific
        {%- for directorate_title, directorate_filename_prefix, sr_flag, hr_flag in directorate_tuples %}
        // {{ directorate_title }}
        {% if sr_flag -%}
        var serviceInOutText_{{ directorate_filename_prefix }} = addStatCard("serviceInOut_{{ directorate_filename_prefix }}",
                                                                             "assets/imgs/chart-line-solid.svg", "Service Requests Opened/Closed");
        addCard("serviceRequestTimeSeries_{{ directorate_filename_prefix }}",
                "widgets/private/business_continuity_{{ directorate_filename_prefix }}_service_request_count_plot.html",
                "Service Request Volumes over Time");

        addTabbedCard("serviceRequestMap_{{ directorate_filename_prefix }}",
                [
                {%- for service_period_time_period_prefix, service_period_time_period_title in service_request_time_periods %}
                    {
                        tabId: "mapTab_{{ service_period_time_period_prefix }}_{{ directorate_filename_prefix }}",
                        iframeLink: "widgets/private/business_continuity_service_request_map/{{ service_period_time_period_prefix }}_{{ directorate_filename_prefix }}_map.html",
                        titleString: "{{ service_period_time_period_title }}"
                     } {{ "," if not loop.last else "" }}
                {%- endfor %}
                ],
                "Service Request Volumes over Space");

        {% endif -%}
        {% if hr_flag -%}
        var staffWorkingText_{{ directorate_filename_prefix }} = addStatCard("staffWorking_{{ directorate_filename_prefix }}",
                                                                             "assets/imgs/cogs-solid.svg", "Staff Working / Assessed");
        var staffAssessedText_{{ directorate_filename_prefix }} = addStatCard("staffAssessed_{{ directorate_filename_prefix }}",
                                                                             "assets/imgs/clipboard-regular.svg", "Staff Assessed using HR Form");

        setStatCardValueFractions(staffWorkingText_{{ directorate_filename_prefix }},
                                  'widgets/private/business_continuity_{{ directorate_filename_prefix }}_values.json',
                                  '{{ directorate_filename_prefix }}_staff_at_work', '{{ directorate_filename_prefix }}_staff_reported');
        setStatCardValueFractions(staffAssessedText_{{ directorate_filename_prefix }},
                                  'widgets/private/business_continuity_{{ directorate_filename_prefix }}_values.json',
                                  '{{ directorate_filename_prefix }}_staff_reported', '{{ directorate_filename_prefix }}_staff_assessed');

        addCard("hRTimeSeries_{{ directorate_filename_prefix }}",
                "widgets/private/business_continuity_{{ directorate_filename_prefix }}_hr_absenteeism_plot.html",
                "HR Capacity over Time");
        {% endif -%}
        {% endfor %}

        setTimeout(function() {
            addBackgroundVideoSrc("backgroundVideoSrc", "backgroundVideo", "assets/imgs/ct_timelapse_above.mp4");
        }, 10000);
    });
</script>

<script src="assets/js/popper.min.js"></script>
<script src="assets/js/bootstrap.min.js"></script>

</body>

</html>